<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Библиотека</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header class="p-3 text-bg-dark" th:insert="~{blocks/header :: header}">
</header>
<div class ="container mt-5 mb-5">
    <h1>Добавление автора</h1>
    <form action="/authors/add" method="post">
        <input type="text" name="surname" placeholder="Фамилия" class="form-control"><br>
        <input type="text" name="name" placeholder="Имя" class="form-control"><br>
        <input type="text" name="patronymic" placeholder="Отчество" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>

</div>

<footer class="text-muted py-5" th:insert="~{blocks/footer :: footer}">
</footer>
</body>
</html>